.simpleForm {
  width: 100%;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.simpleForm_title {
  width: 100%;
  background-color: rgba(56, 89, 138, 1);
  overflow: hidden;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  line-height: 22px;
  vertical-align: middle;
}

ul {
  margin: 0px;
  list-style-type: none;
  width: 100%;
}

ul li {
  margin: 10px;
}

ul#buttonList li {
  display: inline;
  padding: 5px;
}
