.getServiceButton {
  display: flex;
  flex-direction: row-reverse;
}

.dark-button {
  background-color: #2d476f;
  border-color: #294266;
  margin-right: 0px;
}

.block {
  display: contents;
}

.email {
  color: white;
}

.link {
  color: white;
  font-weight: 600;
}

.link:hover {
  color: white;
}

.round-icon-wrapper {
  height: 48px;
  line-height: 55px;
  width: 48px;
  border-radius: 48px;
  background-color: #7596c8;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.sideCardTitle {
  font-size: 20px;
  font-weight: Semi-bold;
  display: inline-block;
  width: 70%;
}

.side-card-text {
  font-size: 14px;
}

.side-card-link {
  font-size: 14px;
  color: white;
  text-decoration: underline;
  margin-top: 10px;
}

.side-card-icon {
  width: 35px;
  height: 35px;
  padding-bottom: 10px;
}
