p {
  flex-direction: column;
}
p > button {
  align-self: flex-end;
}

.dark-button {
  background-color: #2d476f;
  border-color: #294266;
  margin-right: 0px;
}

.block {
  display: contents;
}

.link {
  color: white;
  font-weight: 600;
}

.link:hover {
  color: white;
}
