.getServiceButton {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 10px;
}

.dark-button {
  background-color: #2d476f;
  border-color: #294266;
  margin-right: 0px;
}

.discStyle {
  list-style: disc;
}

.discStyle li {
  margin: 0px 0px 0px 10px;
}

.block {
  display: contents;
}

.email {
  color: white;
}

.link {
  color: white;
  font-weight: 600;
}

.link-email {
  color: white;
}

.link-email:hover {
  color: white;
}

.link:hover {
  color: white;
}

.round-icon-wrapper {
  height: 48px;
  line-height: 55px;
  width: 48px;
  border-radius: 48px;
  background-color: #7596c8;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.sideCardTitle {
  font-size: 20px;
  font-weight: Semi-bold;
  display: inline-block;
  width: 70%;
}

.side-card-text {
  font-size: 14px;
}

.side-card-link {
  font-size: 14px;
  color: white;
  text-decoration: underline;
  margin-top: 10px;
}

.side-card-icon {
  width: 35px;
  height: 35px;
  padding-bottom: 10px;
}

.textAlign {
  display: flex;
  align-self: center;
}

@media (min-width: 1200px) {
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 30%;
  }
}

@media (min-width: 1200px) {
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 70%;
  }
}
