.transition-content {
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 270px;
  margin-left: auto;
  margin-right: auto;
}

.pointer-here {
  cursor: pointer;
  text-decoration: underline;
  color: #1a5a96;
}
