.declareTitle {
  width: 100%;
  background: inherit;
  background-color: rgba(56, 89, 138, 1);
  font-weight: 400;
  color: white;
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  vertical-align: middle;
}

.declaration-cb {
  font-size: 14px;
  color: #333333;
  text-align: left;
  line-height: 20px;
}

.declareSection {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.declaration-ul {
  counter-reset: list;
}

.declaration-li {
  position: relative;
  margin-left: 1.4em;
}

.declaration-li:before {
  counter-increment: list;
  content: "(" counter(list, lower-alpha) ") ";
  position: absolute;
  left: -1.4em;
}
