:root {
  --primary: #459660;
  --warning: #ffd028;
  --danger: #eb3f27;
  --success: #75fa83;
  --white: #fdfdfd;
  --dark: #181717;
}

.btn {
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: translate(-3px);
}

/*Button Colors and Styles*/
.btn--primary--solid {
  background-color: var(--primary);
  color: var(--white);
  border: none;
}

.btn--warning--solid {
  background-color: var(--warning);
  color: var(--black);
  border: none;
}

/* Button Size */
.btn--medium {
  padding: 10px 20px;
  font-size: 18px;
}

.btn--small {
  padding: 10px 20px;
  font-size: 15px;
}
