@import "~@bcgov/bootstrap-theme/dist/css/bootstrap-theme.min.css";

.ecrc_go_btn {
  background-color: rgb(0, 51, 102);
  width: 132px;
  height: 40px;
  color: white;
}

.ecrc_go_btn:hover {
  background-color: rgba(43, 91, 164, 1);
  color: white;
}

.ecrc_accessary_btn {
  color: #003366;
  width: 132px;
  height: 40px;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(204, 204, 204, 1);
}

.ecrc_accessary_btn:hover {
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  background-color: rgba(242, 242, 242, 1);
  border-color: rgba(204, 204, 204, 1);
}

.ecrc_common_btn {
  color: white;
  width: 139px;
  height: 40px;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  background-color: rgb(0, 51, 102);
  padding: 0;
}

.ecrc_common_btn:hover {
  background-color: rgba(43, 91, 164, 1);
  color: white;
}
