.heading {
  padding-left: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.previousName {
  font-size: 18px;
  font-weight: 600;
}

.note {
  font-size: 14px;
  font-weight: 400;
}
