.page {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.content {
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 575.98px) {
  .page {
    flex-direction: column;
  }
}
