main {
  padding-top: 0px;
  padding-bottom: 0px;
}

.page {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.content {
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}

.sidecard {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 575.98px) {
  .page {
    flex-direction: column;
  }
}

@media print {
  body {
    visibility: hidden;
  }

  .print {
    width: 100%;
    visibility: visible;
    margin-left: 1cm;
  }
}
